.book-info {
  width: $baseline-width;
  margin: 0 auto;

  &__title {
    &--title {
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 0.1em;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to left, $white, $yellow-orange);
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    place-items: start center;
    padding: 1em;
  }

  &__image {
    flex: 0 1 20em;
  }

  &__subjects {
    max-width: 60ch;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
  }

  aside {
    flex: 1 1 30em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    place-items: center start;
  }

  &__user-actions-group {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
  }

  &__read-online {
    a {
      text-decoration: none;
      color: $dark-jungle-green;
      border: 0.15em solid $yellow-orange;
      padding: 0.25em 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      text-transform: lowercase;
    }
  }
}
