.form-wrapper {
  display: grid;
  place-items: center;
  width: clamp(30vw, 40em, 95vw);
  position: relative;

  form {
    display: grid;
    gap: 2em;
    place-items: start center;
    width: 100%;
    padding: 2.5em 0;

    .error-modal,
    .loading-spinner {
      place-self: center;

      p {
        color: $white;
      }
    }
  }

  .form-group {
    display: grid;
    gap: 0.5em;
    padding: 0.5em;
    width: 80%;

    &:focus-within {
      label {
        color: $yellow-orange;
      }
    }
  }

  label {
    color: $white;
    font-size: inherit;
    transition: color 0.25s ease-in-out;
  }

  input {
    font-size: inherit;
    border: none;
    border-radius: 0.15em;
    outline: 0.15em solid $white;
    background: $white;
    color: $dark-jungle-green;
    padding: 1em 0.5em;
    transition: outline 0.25s ease-in-out;
  }

  button {
    outline: none;
    border: none;
    border-radius: 0.25em;
    font-size: inherit;
    text-transform: lowercase;
    background: $yellow-orange;
    padding: 1em 0.5em;
    cursor: pointer;
    color: $white;
  }
}

.login-form {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/Images/login-form-bg.jpg") no-repeat center center/cover;
  position: relative;
  border-radius: 0.5em;
}

.register-form {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url("/src/Images/woman-reading-1.jpg") no-repeat center center/cover;

  position: relative;
  border-radius: 0.5em;
}

.login-form,
.register-form {
  &::before {
    position: absolute;
    width: clamp(35em, 30vw, 50em);
    height: 45em;
    content: "";
    left: -15%;
    z-index: -1;
    background: linear-gradient(45deg, $yellow-orange, $vivid-burgundy);
  }

  &::after {
    position: absolute;
    width: clamp(35em, 30vw, 50em);
    height: 45em;
    content: "";
    right: -15%;
    z-index: -2;
    top: -10%;
    border: 0.15em solid rgba(107, 57, 57, 0.5);

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.register-form {
  &::after {
    top: -3%;
  }
}
