.loading-spinner {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.15em solid rgba(0, 0, 0, 0.25);
  animation: loading-animation 0.75s linear infinite;
  border-right: 0.15em solid $vivid-burgundy;
}
