nav {
  background: $white;
  background: $coffee;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0.5em 0;
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
}

.navbar-wrapper {
  display: flex;
  gap: 2em;
  width: $baseline-width;
  // border: 0.1em solid red;
  margin: 0 auto;
  padding: 0 1em;
  justify-content: space-between;
  place-items: center;
  position: relative;
  a {
    color: $white;
  }
}

.mobile-navigation {
  // display: none;
  width: 80%;
  height: 100vh;
  position: fixed;
  inset: 0;
  background: $white;
  display: flex;
  gap: 5em;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.25s ease;
  box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.5);

  a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: inherit;
    color: $dark-jungle-green;
  }
}

.mobile-nav-open {
  transform: translateX(0);
}

.burger {
  display: flex;
  gap: 0.25em;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 3;

  @media (min-width: 768px) {
    display: none;
  }
  &__bar {
    width: 2em;
    height: 0.15em;
    background: $white;
  }
}

.desktop-navigation {
  font-size: inherit;
  text-transform: lowercase;
  display: none;
  gap: 0.5em;

  @media (min-width: 768px) {
    display: flex;
  }

  a {
    text-decoration: none;
    position: relative;
    color: $dark-jungle-green;
    color: $white;
    cursor: pointer;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 0.15em;
      background: linear-gradient(90deg, $yellow-orange, $white);
      border-radius: 9999em;
      transform: scale(0, 1);
      transform-origin: center;
      transition: all 0.25s ease-in-out;
    }

    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }
}

.navbar-banner {
  h2 {
    font-weight: 400;
    font-size: inherit;
  }
}
