.search-form-wrapper {
  outline: 0.15em solid $dark-jungle-green;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  transition: outline 0.25s ease-in-out;
  padding: 0.25em 0;
  position: relative;

  &:focus-within {
    outline: 0.15em solid $yellow-orange;
  }

  form {
    display: flex;
    gap: 1em;
    padding: 0 0.5em;
    position: absolute;
    top: 200%;
    transform: scale(0);
    transition: all 0.25s ease-in-out;
    width: clamp(30vw, 15em, 80vw);
    border: 1px solid red;
  }

  .open-form {
    transform: scale(1);
  }

  input {
    outline: none;
    border: none;
    padding: 0.25em;
    font-size: inherit;
  }

  .checkbox-topic-container {
    display: flex;
    gap: 0.5em;
    line-height: 1.1;
    place-items: center;

    input {
      outline: none;
      border: none;
      cursor: pointer;
      outline: 0.15em solid $yellow-orange;
      appearance: none;
      width: 1em;
      height: 1em;
      transition: all 0.5s ease;

      &:checked {
        background: $yellow-orange;
        padding: 0.5em;
      }
      &:disabled {
        cursor: not-allowed;
        outline: 0.15em solid rgba(0, 0, 0, 0.25);
      }
    }
  }

  button {
    outline: none;
    border: none;
    padding: 0.25em;
    background: none;
    outline: 0.15em solid $yellow-orange;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover {
      background: $yellow-orange;
    }
  }
}
