.search-form-wrapper {
  outline: 0.15em solid $dark-jungle-green;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.25em 0;
}

.search-trigger {
  position: relative;
}

.search-form {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 200%;
  left: 0;
  transform: scale(0);
  transition: all 0.25s ease-in-out;
  width: clamp(30vw, 15em, 80vw);
  padding: 0.25em 0.5em;
}

.open-form {
  transform: scale(1);
}

.checkbox-topic-container {
  display: flex;
  gap: 0.5em;
  line-height: 1.1;
  place-items: center;

  input {
    outline: none;
    border: none;
    cursor: pointer;
    outline: 0.15em solid $yellow-orange;
    appearance: none;
    width: 1em;
    height: 1em;
    transition: all 0.5s ease;

    &:checked {
      background: $yellow-orange;
      padding: 0.5em;
    }
    &:disabled {
      cursor: not-allowed;
      outline: 0.15em solid rgba(0, 0, 0, 0.25);
    }
  }
}

button {
  outline: none;
  border: none;
  padding: 0.25em;
  background: none;
  outline: 0.15em solid $yellow-orange;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &:hover {
    background: $yellow-orange;
  }
}

.form-group-search {
  display: flex;
  gap: 1em;
  flex-direction: column;

  input[type="text"] {
    outline: none;
    border: none;
    padding: 0.25em;
    font-size: inherit;
    outline: 0.15em solid $yellow-orange;
    flex: 1;
  }
}
