@import "variables";
@import "keyframes";
@import "body";
@import "loading";
@import "setup";
@import "nav";
@import "book-info";
@import "errorModal";
@import "form";
@import "accountModal";

.main-content {
  width: $baseline-width;
  margin: 0 auto;
  padding: 5em 0;
}

.pagination {
  &__controls {
    padding: 1em;
    display: flex;
    gap: 1em;
    place-items: center;

    button {
      border: none;
      background: none;
      padding: 0.25em 0.5em;
      text-transform: lowercase;
      cursor: pointer;
      font-size: inherit;
      font-weight: 200;
      border: 0.15em solid $yellow-orange;
      color: $dark-jungle-green;
      border-radius: 0.25em;
    }
  }

  &__info {
    padding: 0 1em;
    p {
      padding: 0 0.5em;
    }
  }
}

.app-main {
  padding: 5em 0;
  min-height: 20em;
  display: grid;
  place-items: center;
}

.register {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/Images/register-form-bg.jpg") no-repeat center center/cover;
  &::before {
    position: absolute;
    content: "";
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.books-container {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  place-items: center;
  padding: 1em;
  margin: 0 auto;

  &__article {
    width: 100%;
    padding: 0.5em;
    box-shadow: 0.15em 0.1em 0.25em rgba(0, 0, 0, 0.2);
    display: grid;
    gap: 1em;
    place-items: center;
    text-align: center;
    height: 25em;

    h3,
    h4 {
      font-weight: 400;
      max-width: 20ch;
    }

    a {
      text-decoration: none;
      color: $dark-jungle-green;
      padding: 0.25em 0.75em;
      border: 0.15em solid $yellow-orange;
      border-radius: 0.5em;
      text-transform: lowercase;
      cursor: pointer;
    }
  }

  &__article--details {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    place-items: center;
  }
}

.padding {
  padding: 5em 0;
}
