@-webkit-keyframes loading-animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes underline {
  to {
    width: 100%;
  }
}

@keyframes underline {
  to {
    width: 100%;
  }
}

body {
  background: #fbfffe;
  font-size: clamp(0.85em, 1.5vw, 1.1em);
}

.loading-spinner {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.15em solid rgba(0, 0, 0, 0.25);
  -webkit-animation: loading-animation 0.75s linear infinite;
          animation: loading-animation 0.75s linear infinite;
  border-right: 0.15em solid #a61c3c;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-filter: drop-shadow(0 0 0.15em black);
          filter: drop-shadow(0 0 0.15em black);
}

nav {
  background: #fbfffe;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0.25em 0;
  -webkit-box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  width: clamp(80vw, 50em, 93vw);
  margin: 0 auto;
  padding: 0 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  position: relative;
}

.mobile-navigation {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  place-items: center;
  z-index: 2;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.mobile-navigation a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: inherit;
  color: #fbfffe;
}

.mobile-nav-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 3;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

.burger__bar {
  width: 2em;
  height: 0.15em;
  background: #001514;
}

.desktop-navigation {
  font-size: inherit;
  text-transform: lowercase;
  display: none;
  gap: 0.5em;
}

@media (min-width: 768px) {
  .desktop-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.desktop-navigation a {
  text-decoration: none;
  position: relative;
  color: #001514;
  cursor: pointer;
}

.desktop-navigation a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 0.15em;
  background: -webkit-gradient(linear, left top, right top, from(#f4ac45), to(#fbfffe));
  background: linear-gradient(to right, #f4ac45, #fbfffe);
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  border-radius: 9999em;
}

.desktop-navigation a:hover::after {
  width: 100%;
}

.navbar-banner h2 {
  font-weight: 400;
  font-size: inherit;
}

.book-info {
  width: clamp(80vw, 50em, 93vw);
  margin: 0 auto;
}

.book-info__title--title {
  font-weight: 600;
  position: relative;
}

.book-info__title--title::after {
  content: "";
  position: absolute;
  height: 0.1em;
  width: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#fbfffe), to(#f4ac45));
  background: linear-gradient(to left, #fbfffe, #f4ac45);
}

.book-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1em;
  place-items: start center;
  place-items: stretch;
  padding: 1em;
}

.book-info__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20em;
          flex: 0 1 20em;
}

.book-info__subjects {
  max-width: 60ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0.5em;
}

.book-info aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30em;
          flex: 1 1 30em;
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  place-items: center start;
  position: relative;
}

.book-info__user-actions-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1em;
}

.book-info__read-online a {
  text-decoration: none;
  color: #001514;
  border: 0.15em solid #f4ac45;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  text-transform: lowercase;
}

.error-modal p {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #001514;
}

.error-modal p::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1em;
  background: #001514;
  left: 0;
  bottom: 0;
  -webkit-animation: underline 0.5s ease-in forwards 0.25s;
          animation: underline 0.5s ease-in forwards 0.25s;
}

.form-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: clamp(30vw, 40em, 95vw);
  position: relative;
}

.form-wrapper form {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  place-items: start center;
  width: 100%;
  padding: 2.5em 0;
}

.form-wrapper form .error-modal,
.form-wrapper form .loading-spinner {
  place-self: center;
}

.form-wrapper form .error-modal p,
.form-wrapper form .loading-spinner p {
  color: #fbfffe;
}

.form-wrapper .form-group {
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
  padding: 0.5em;
  width: 80%;
}

.form-wrapper .form-group:focus-within label {
  color: #f4ac45;
}

.form-wrapper label {
  color: #fbfffe;
  font-size: inherit;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.form-wrapper input {
  font-size: inherit;
  border: none;
  border-radius: 0.15em;
  outline: 0.15em solid #fbfffe;
  background: #fbfffe;
  color: #001514;
  padding: 1em 0.5em;
  -webkit-transition: outline 0.25s ease-in-out;
  transition: outline 0.25s ease-in-out;
}

.form-wrapper button {
  outline: none;
  border: none;
  border-radius: 0.25em;
  font-size: inherit;
  text-transform: lowercase;
  background: #f4ac45;
  padding: 1em 0.5em;
  cursor: pointer;
  color: #fbfffe;
}

.login-form {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/src/Images/login-form-bg.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/Images/login-form-bg.jpg") no-repeat center center/cover;
  position: relative;
  border-radius: 0.5em;
}

.register-form {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.5))), url("/src/Images/woman-reading-1.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("/src/Images/woman-reading-1.jpg") no-repeat center center/cover;
  position: relative;
  border-radius: 0.5em;
}

.login-form::before,
.register-form::before {
  position: absolute;
  width: clamp(35em, 30vw, 50em);
  height: 45em;
  content: "";
  left: -15%;
  z-index: -1;
  background: linear-gradient(45deg, #f4ac45, #a61c3c);
}

.login-form::after,
.register-form::after {
  position: absolute;
  width: clamp(35em, 30vw, 50em);
  height: 45em;
  content: "";
  right: -15%;
  z-index: -2;
  top: -10%;
  border: 0.15em solid rgba(107, 57, 57, 0.5);
}

@media (max-width: 768px) {
  .login-form::after,
  .register-form::after {
    display: none;
  }
}

.register-form::after {
  top: -3%;
}

.account-modal {
  padding: 0.5em;
}

.account-modal p {
  color: #fbfffe;
}

.account-modal a {
  text-decoration: none;
  color: #f4ac45;
}

.search-form-wrapper {
  outline: 0.15em solid #001514;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.25em 0;
}

.search-trigger {
  position: relative;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 200%;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: clamp(30vw, 15em, 80vw);
  padding: 0.25em 0.5em;
}

.open-form {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox-topic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  line-height: 1.1;
  place-items: center;
}

.checkbox-topic-container input {
  outline: none;
  border: none;
  cursor: pointer;
  outline: 0.15em solid #f4ac45;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1em;
  height: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.checkbox-topic-container input:checked {
  background: #f4ac45;
  padding: 0.5em;
}

.checkbox-topic-container input:disabled {
  cursor: not-allowed;
  outline: 0.15em solid rgba(0, 0, 0, 0.25);
}

button {
  outline: none;
  border: none;
  padding: 0.25em;
  background: none;
  outline: 0.15em solid #f4ac45;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background: #f4ac45;
}

.form-group-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group-search input[type="text"] {
  outline: none;
  border: none;
  padding: 0.25em;
  font-size: inherit;
  outline: 0.15em solid #f4ac45;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-content {
  width: clamp(80vw, 50em, 93vw);
  margin: 0 auto;
  padding: 10em 0;
}

.pagination__controls {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  place-items: center;
}

.pagination__controls button {
  border: none;
  background: none;
  padding: 0.25em 0.5em;
  text-transform: lowercase;
  cursor: pointer;
  font-size: inherit;
  font-weight: 200;
  border: 0.15em solid #f4ac45;
  color: #001514;
  border-radius: 0.25em;
}

.pagination__info {
  padding: 0 1em;
}

.pagination__info p {
  padding: 0 0.5em;
}

.app-main {
  padding: 5em 0;
  min-height: 55em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.books-container {
  display: -ms-grid;
  display: grid;
  gap: 3em;
  -ms-grid-columns: (minmax(15em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  place-items: center;
  padding: 1em;
  margin: 0 auto;
}

.books-container__article {
  width: 100%;
  padding: 1.5em 0.5em;
  -webkit-box-shadow: 0.15em 0.1em 0.25em rgba(0, 0, 0, 0.2);
          box-shadow: 0.15em 0.1em 0.25em rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  gap: 2em;
  place-items: center start;
  text-align: left;
  height: 25em;
}

.books-container__article h3,
.books-container__article h4 {
  font-weight: 400;
  max-width: 20ch;
}

.books-container__article--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2em;
  place-items: center;
}

.favorites-container {
  -ms-grid-columns: (minmax(15em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.btn-default {
  position: relative;
  outline: none;
  border: none;
  font-size: inherit;
  color: #001514;
  background: #fbfffe;
  text-decoration: none;
  padding: 0.25em 1em;
  text-transform: lowercase;
}

.btn-default::before {
  position: absolute;
  content: "";
  outline: 0.15em solid #001514;
  width: 100%;
  height: 100%;
  top: -15%;
  left: -2.5%;
  z-index: -1;
  -webkit-transition: top 0.25s ease-in-out, left 0.25s ease-in-out, outline 0.5s ease-in-out 0.05s;
  transition: top 0.25s ease-in-out, left 0.25s ease-in-out, outline 0.5s ease-in-out 0.05s;
}

.btn-default::after {
  position: absolute;
  content: "";
  background: linear-gradient(45deg, #f4ac45, #a61c3c);
  width: 100%;
  height: 100%;
  top: 15%;
  left: 5%;
  z-index: -1;
  -webkit-transition: top 0.25s ease-in-out, left 0.25s ease-in-out;
  transition: top 0.25s ease-in-out, left 0.25s ease-in-out;
}

.btn-default:hover::before, .btn-default:hover::after {
  top: 0;
  left: 0;
}

.btn-default:hover::before {
  outline: 0.15em solid #c77a0c;
}
